In [3]:
%load_ext autoreload

In [4]:
%autoreload 2

In [5]:
%matplotlib inline

In [173]:
import math
from pathlib import Path
from itertools import zip_longest

import numpy as np
import pandas as pd

import torch
from torch import nn
from torch import optim
from torch import functional as F

## Dataset Preview

In [7]:
path = Path.home() / 'data' / 'movielens'
assert path.exists

In [8]:
ratings = pd.read_csv(path / 'ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [9]:
movies = pd.read_csv(path / 'movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [10]:
def tabular_preview(ratings, n=15):
    """Creates a cross-tabular view of users vs movies."""
    
    user_groups = ratings.groupby('userId')['rating'].count()
    top_users = user_groups.sort_values(ascending=False)[:15]

    movie_groups = ratings.groupby('movieId')['rating'].count()
    top_movies = movie_groups.sort_values(ascending=False)[:15]

    top = (
        ratings.
        join(top_users, rsuffix='_r', how='inner', on='userId').
        join(top_movies, rsuffix='_r', how='inner', on='movieId'))

    return pd.crosstab(top.userId, top.movieId, top.rating, aggfunc=np.sum)

In [11]:
tabular_preview(ratings, movies)

movieId,1,110,260,296,318,356,480,527,589,593,608,1196,1198,1270,2571
userId,,,,,,,,,,,,,,,
15,2.0,3.0,5.0,5.0,2.0,1.0,3.0,4.0,4.0,5.0,5.0,5.0,4.0,5.0,5.0
30,4.0,5.0,4.0,5.0,5.0,5.0,4.0,5.0,4.0,4.0,5.0,4.0,5.0,5.0,3.0
73,5.0,4.0,4.5,5.0,5.0,5.0,4.0,5.0,3.0,4.5,4.0,5.0,5.0,5.0,4.5
212,3.0,5.0,4.0,4.0,4.5,4.0,3.0,5.0,3.0,4.0,NaN,NaN,3.0,3.0,5.0
213,3.0,2.5,5.0,NaN,NaN,2.0,5.0,NaN,4.0,2.5,2.0,5.0,3.0,3.0,4.0
294,4.0,3.0,4.0,NaN,3.0,4.0,4.0,4.0,3.0,NaN,NaN,4.0,4.5,4.0,4.5
311,3.0,3.0,4.0,3.0,4.5,5.0,4.5,5.0,4.5,2.0,4.0,3.0,4.5,4.5,4.0
380,4.0,5.0,4.0,5.0,4.0,5.0,4.0,NaN,4.0,5.0,4.0,4.0,NaN,3.0,5.0
452,3.5,4.0,4.0,5.0,5.0,4.0,5.0,4.0,4.0,5.0,5.0,4.0,4.0,4.0,2.0
468,4.0,3.0,3.5,3.5,3.5,3.0,2.5,NaN,NaN,3.0,4.0,3.0,3.5,3.0,3.0
509,3.0,5.0,5.0,5.0,4.0,4.0,3.0,5.0,2.0,4.0,4.5,5.0,5.0,3.0,4.5
547,3.5,NaN,NaN,5.0,5.0,2.0,3.0,5.0,NaN,5.0,5.0,2.5,2.0,3.5,3.5
564,4.0,1.0,2.0,5.0,NaN,3.0,5.0,4.0,5.0,5.0,5.0,5.0,5.0,3.0,3.0
580,4.0,4.5,4.0,4.5,4.0,3.5,3.0,4.0,4.5,4.0,4.5,4.0,3.5,3.0,4.5
624,5.0,NaN,5.0,5.0,NaN,3.0,3.0,NaN,3.0,5.0,4.0,5.0,5.0,5.0,2.0

## Dataset Preparation

In [16]:
def create_dataset(ratings):
    unique_users = ratings.userId.unique()
    user_to_index = {old: new for new, old in enumerate(unique_users)}
    new_users = ratings.userId.map(user_to_index)
    
    unique_movies = ratings.movieId.unique()
    movie_to_index = {old: new for new, old in enumerate(unique_movies)}
    new_movies = ratings.movieId.map(movie_to_index)
    
    n_users = unique_users.shape[0]
    n_movies = unique_movies.shape[0]
    
    X = pd.DataFrame({'user_id': new_users, 'movie_id': new_movies})
    y = ratings['rating'].astype(np.float32)
    return (n_users, n_movies), (X, y)

In [187]:
(n, m), (X, y) = create_dataset(ratings)
print(f'Embeddings: {n} users, {m} movies')
print(f'Dataset shape: {X.shape}')
print(f'Target shape: {y.shape}')

Embeddings: 671 users, 9066 movies
Dataset shape: (100004, 2)
Target shape: (100004,)

## Embeddings

In [90]:
class EmbeddingNet(nn.Module):
    
    def __init__(self, n_users, n_movies,
                 n_factors=50, embedding_dropout=0.02, 
                 hidden=10, dropouts=0.2):
        
        super().__init__()
        hidden = get_list(hidden)
        dropouts = get_list(dropouts)
        n_last = hidden[-1]
        
        def gen_layers(n_in):
            nonlocal hidden, dropouts
            assert len(dropouts) <= len(hidden)
            
            for n_out, rate in zip_longest(hidden, dropouts):
                yield nn.Linear(n_in, n_out)
                yield nn.ReLU()
                if rate is not None and rate > 0.:
                    yield nn.Dropout(rate)
                n_in = n_out
            
        self.u = nn.Embedding(n_users, n_factors)
        self.m = nn.Embedding(n_movies, n_factors)
        self.drop = nn.Dropout(embedding_dropout)
        self.hidden = nn.Sequential(*list(gen_layers(n_factors * 2)))
        self.fc = nn.Linear(n_last, 1)
        self._init()
        
    def forward(self, users, movies, minmax=None):
        features = torch.cat([self.u(users), self.m(movies)], dim=1)
        x = self.drop(features)
        x = self.hidden(x)
        out = F.sigmoid(self.fc(x))
        if minmax is not None:
            min_rating, max_rating = minmax
            out = out*(max_rating - min_rating) + min_rating
        return out
    
    def _init(self):
        self.u.weight.data.uniform_(-0.05, 0.05)
        self.m.weight.data.uniform_(-0.05, 0.05)
    
    
def get_list(n):
    if isinstance(n, (int, float)):
        return [n]
    elif hasattr(n, '__iter__'):
        return list(n)
    raise TypeError('layers configuraiton should be a single number or a list of numbers')

In [91]:
minmax = ratings.rating.min(), ratings.rating.max()
minmax

(0.5, 5.0)

In [92]:
net = EmbeddingNet(n, m, hidden=[300, 300, 150], dropouts=[0.5, 0.5, 0.25])

In [93]:
net

EmbeddingNet(
  (u): Embedding(671, 50)
  (m): Embedding(9066, 50)
  (drop): Dropout(p=0.02)
  (hidden): Sequential(
    (0): Linear(in_features=100, out_features=300, bias=True)
    (1): ReLU()
    (2): Dropout(p=0.5)
    (3): Linear(in_features=300, out_features=300, bias=True)
    (4): ReLU()
    (5): Dropout(p=0.5)
    (6): Linear(in_features=300, out_features=150, bias=True)
    (7): ReLU()
    (8): Dropout(p=0.25)
  )
  (fc): Linear(in_features=150, out_features=1, bias=True)
)

In [183]:
def batches(X, y, bs=32, shuffle=True):
    n = len(X)
    n_batches = math.ceil(n // bs)
    if shuffle:
        index = np.random.permutation(n)
        X, y = X[index], y[index]
    for i in range(n_batches):
        batch = X[i*bs:(i + 1)*bs], y[i*bs:(i + 1)*bs]
        yield batch

In [ ]:
lr = 1e-4
n_epochs = 100

for epoch in range(n_epochs):
    pass